

p {
    font-weight: bold;
}

li {
    color:darkblue;
}

l1{
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-style:italic;
}

img {
    opacity: 0.8;
    width: 200px;
    border-radius: 100px;
}

div{
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10;
}

.Name{
    font-weight: bold;
}
